spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  mail:
    host: smtp.gmail.com
    port: 587
    username: trucphuthuyiii@gmail.com
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  datasource:
    url: jdbc:mysql://localhost:3307/app_db?useSSL=false&allowPublicKeyRetrieval=true
    username: thanhtruc
    password: trucdang02


  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  jackson:
    serialization:
      indent-output: true

server:
  port: 8081

jwt:
  secret: "Z7z8FZq7K6rKc1mGZrH8pQ5Pz9nYv9x6sD1b0kM4R9E="


app:
  rabbitmq:
    exchange: demo.exchange
    queue: demo.queue
    routing-key: demo.routing.key