spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: trucphuthuyiii@gmail.com
    password:  ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  datasource:
    url: jdbc:mysql://localhost:3306/app_db
    username: root
    password: trucdang02
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  jackson:
    serialization:
      indent-output: true

server:
  port: 8081

jwt:
  secret: "Z7z8FZq7K6rKc1mGZrH8pQ5Pz9nYv9x6sD1b0kM4R9E="