spring:
  datasource:
    url: jdbc:mysql://localhost:3306/app_db
    username: root
    password: trucdang02
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      indent-output: true

server:
  port: 8081